body{
    background-color: #fff8e1;
    min-width:15%;        
    width: auto !important;
    width: 25%; 
    color: #0d7055;
   
}

h1{
    font-family: ProximaNova, sans-serif;
    font-size: 300%;
    color: #0d7055;
}

h2{
    font-family: sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: #0d7055;
}

figcaption{
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color: #0d7055;
}

.campus{
    width: 25%;
    float: left;
    padding: .1em;
    border: 1px solid #0d7055;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;

}
.campus-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dorm{
    width: 25%;
    float: left;
    padding: .1em;
    border: 1px solid #0d7055;
    margin: 2em, auto;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

.dorm-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}