body{
    background-color: #fff8e1;
    min-width:1000px;        
    width: auto !important;
    width: 15%; 
    color: #0d7055;
   
}

.campus{
    width: 25%;
    float: left;
    padding: .1em;
    border: 1px solid black;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;

}
.campus-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dorm{
    width: 25%;
    float: left;
    padding: .1em;
    border: 1px solid black;
    margin: 2em, auto;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

.dorm-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}